*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
  }
  
  
  body{
    background: black;
  }
  
  #container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav "
    "clip . .  ."
    ". desc1 tarOneTwo . "
    ". calend descCalendar ."
    "fot fot fot fot";
  }

  #title{
      color: white;
  }
