* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Genos', sans-serif;
}


body {
  background: black;
  overflow-x: hidden;
}

@media screen and (min-width: 600px) {
  #container {
    height: 100vh;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    /* grid-template-areas: 
    "nav nav nav nav "
    "title title title  ."
    ". card card . "
    ". card card btn"
    "fot fot fot fot"; */
    /*! z-index: 10; */
  }


  .title {
    text-align: center;
    color: white;
    font-size: 40px;
    align-self: center;
    text-shadow: -2px -1px 1px var(--secondaryVariant), 4px 2px 1px var(--primaryVariant), -2px 2px 1px var(--primaryVariant), 2px -2px 1px var(--primaryVariant);
    grid-area: 1/5/1/1;
  }

  .nav-box {
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1rem;
  }

  a {
    text-decoration: none;
  }

  #addEventStyle {
    position: fixed;
    top: 105px;
    left: 80px;
    z-index: 1;
    font-size: 40px;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border: 2px white solid;
    color: white;
    transition: all 300ms ease;
    background-image: radial-gradient(var(--secondaryVariant), black);
  }

  #addEventStyle:hover {
    border: 2px white solid;
    background-image: radial-gradient(var(--primaryVariant), black);
    color: white;
  }

  .formBox {
    text-align: center;
    padding: 4vh 0vw;
    display: flex;
    flex-direction: column;

  }

  .eventFormStyle {
    padding: 2vh 6vw;
    margin: 2vh;
  }

  #btnSubmit {
    border: none;
    /*   transition:0.3s ease; */
    font-size: 1rem;
    cursor: pointer;

  }

  #btnSubmit:hover {
    background: #f25c54;
    border-radius: 24px;
  }

  textarea {
    resize: none;
    scrollbar-width: thin;
  }

  /* ---------------------------- */
  #backEvent {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
    z-index: 10;
  }

  #backEvent:before {
    z-index: -1;
    content: '';
    position: absolute;
    opacity: 60%;
    width: 100vw;
    height: 100vh;
    background: black;
  }

  .modal-content {
    background-color: white;
    padding: 1vh 1.5vw;
    width: 30vw;
    border-radius: 8px;
    opacity: 1
  }

  .eventBackgorund {
    scrollbar-width: thin;
    scrollbar-width: none;
    overflow: auto;
    /*   background: green; */
    visibility: visible;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 2vh;
    width: 100%;
    /* z-index: -1; */
    grid-area: 2/1/5/5;


    /* background: green; */

  }


  #events {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #news {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .parStyle {
    text-align: center;
    color: white;
    font-size: 35px;
    align-self: center;
    text-decoration: underline;
    text-shadow: -2px -1px 1px var(--secondaryVariant), 4px 2px 1px var(--primaryVariant), -2px 2px 1px var(--primaryVariant), 2px -2px 1px var(--primaryVariant);
  }

  /* ------form layout----- */


  #closeLayout {
    justify-content: center;
    width: 5vw;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0vh 20vw;
    font-weight: bold;
  }

  #closeLayout:hover {
    background-color: darkgray;
  }

  .card {
    /* max-width: 250px; */
    margin: 1vh 3vw;
    background-color: white;
    text-align: center;
    /* font-size: 20px; */
    border: 2px solid var(--primary);
    border-radius: 8px;
    /* height: 50vh; */
  }

  .card:hover {
    box-shadow: 0 10px 90px black;

  }

  .cardBody {
    padding: 10px 40px;
  }

  .name {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
  }

  .description {
    margin-top: 20px;
    font-size: 14px;
  }


  .buttonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 60px 30px 60px;
    border: 2px var(--secondary) solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 3px;
    font-size: 16px;
  }

  .buttonStyle:hover {
    background-color: var(--secondary);
  }

  .linkStyle {
    text-decoration: none;
    color: var(--secondary);
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .buttonStyle:hover .linkStyle {
    background-color: var(--secondary);
    color: white;
  }

  .cardFooter {
    padding-bottom: 10px;
  }

  .date {
    font-size: 14px;
    display: flex;
    justify-content: end;
    margin-right: 15px;
  }

  .btnSty {
    border: none;
    padding: 1vh 1vw;
    border-radius: 8px;
    font-weight: bold;
    background: var(--error);
    color: white;
    margin-top: 1vh;
  }

  .btnSty:hover {
    background: black;
    color: var(--error);
    border: 1px solid var(--error);
  }
}

@media screen and (max-width: 600px) {
  #container {
    height: 100vh;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    /* grid-template-areas: 
    "nav nav nav nav "
    "title title title  ."
    ". card card . "
    ". card card btn"
    "fot fot fot fot"; */
    /*! z-index: 10; */
  }


  .title {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-left: 80px; 
    margin-right: 75px;       
    align-self: center;
    text-shadow: -2px -1px 1px var(--secondaryVariant), 4px 2px 1px var(--primaryVariant), -2px 2px 1px var(--primaryVariant), 2px -2px 1px var(--primaryVariant);
    grid-area: 1/5/1/1;
  }

  .nav-box {
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1rem;
  }

  a {
    text-decoration: none;
  }

  #addEventStyle {
    position: fixed;
    top: 105px;
    left: 35px;
    z-index: 1;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border: 2px white solid;
    color: white;
    transition: all 300ms ease;
    background-image: radial-gradient(var(--secondaryVariant), black);
  }

  #addEventStyle:hover {
    border: 2px white solid;
    background-image: radial-gradient(var(--primaryVariant), black);
    color: white;
  }

  .formBox {
    text-align: center;
    padding: 4vh 0vw;
    display: flex;
    flex-direction: column;

  }

  .eventFormStyle {
    padding: 2vh 6vw;
    margin: 2vh;
  }

  #btnSubmit {
    border: none;
    /*   transition:0.3s ease; */
    font-size: 1rem;
    cursor: pointer;

  }

  #btnSubmit:hover {
    background: #f25c54;
    border-radius: 24px;
  }

  textarea {
    resize: none;
    scrollbar-width: thin;
  }

  /* ---------------------------- */
  #backEvent {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
    z-index: 10;
  }

  #backEvent:before {
    z-index: -1;
    content: '';
    position: absolute;
    opacity: 60%;
    width: 100vw;
    height: 100vh;
    background: black;
  }

  .modal-content {
    background-color: white;
    padding: 1vh 1.5vw;
    width: 30vw;
    border-radius: 8px;
    opacity: 1
  }

  .eventBackgorund {
    scrollbar-width: thin;
    scrollbar-width: none;
    overflow: auto;
    /*   background: green; */
    visibility: visible;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 2vh;
    width: 100%;
    /* z-index: -1; */
    grid-area: 2/1/5/5;


    /* background: green; */

  }


  #events {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #news {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .parStyle {
    text-align: center;
    color: white;
    font-size: 22px;
    align-self: center;
    text-shadow: -2px -1px 1px var(--secondaryVariant), 4px 2px 1px var(--primaryVariant), -2px 2px 1px var(--primaryVariant), 2px -2px 1px var(--primaryVariant);
    padding-bottom: 10px;
    text-decoration: underline;
  }

  /* ------form layout----- */


  #closeLayout {
    justify-content: center;
    width: 5vw;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0vh 20vw;
    font-weight: bold;
  }

  #closeLayout:hover {
    background-color: darkgray;
  }

  .card {
    background-color: white;
    box-shadow: 0 10px 90px #00000024;
    text-align: center;
    border: 2px solid var(--primary);
    border-radius: 8px;
    margin: 1vw 3vh;
    width: 36vw;
}

.name {
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}

.description {
    margin-top: 15px;
    font-size: 12px;
}

.buttonStyle {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px var(--secondary) solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 12px;
}

.buttonStyle:hover {
    border: 2px white solid;
    background-color: var(--secondary);
}

.linkStyle {
    text-decoration: none;
    color: var(--secondary);
}

.buttonStyle:hover .linkStyle {
    background-color: var(--secondary);
    color: white;
}

  .cardFooter {
    padding-bottom: 10px;
  }

  .date {
    font-size: 14px;
    display: flex;
    justify-content: end;
    margin-right: 15px;
  }

  .btnSty {
    border: none;
    padding: 1vh 1vw;
    border-radius: 8px;
    font-weight: bold;
    background: var(--error);
    color: white;
    margin-top: 1vh;
  }

  .btnSty:hover {
    background: black;
    color: var(--error);
    border: 1px solid var(--error);
  }
}