*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Genos', sans-serif;
}


body{
  background: black;
}

#container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr .3fr;
  grid-template-rows: .5fr 1fr 1fr .4fr .5fr;
  grid-template-areas: 
    "nav nav nav nav "
    "title title title  ."
    ". img1 img2 . "
    ". . . btn"
    "fot fot fot fot"
}


nav{
  grid-area: nav;
  border-bottom: 1px white solid;
}

.nav-box{
  display:flex;
  justify-content:flex-end;
  height: 10vh;
  align-items: center;
  font-size: 1.1rem;

}

.navLinkStyle{
  margin: 0vh 3vw;
  color: white;
  list-style: none;
}
a{
  text-decoration: none;
}

#title{
  grid-area: title;
  color: white;
  text-align: center;
/*   background: green; */
  width: 100vw;
}
#addEventStyle{
  grid-area: btn;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff477e;
  color: white;
  border-radius:50%;  
  font-size: 1.5rem;
  cursor: pointer;
}

.logo{
  float: left;
  display: flex;
  margin-left: 1vw;
  color: white;
  height: 10vh;
  align-items: center;  
  margin: 0vh 3vw;
  font-family: 'Caesar Dressing', cursive;
  font-size: 2rem;
}

footer{
  grid-area: fot;

}
.footerStyle{
  background-color: #7B2CBF;
  color: white;
  display: flex;
  position: sticky;
  top: 100%;
  justify-content: space-between;
}


.formBox{
  text-align: center;
  padding: 4vh 0vw;
  display: flex;
  flex-direction: column;
  
}

.eventFormStyle{
padding: 2vh 6vw;
  margin: 2vh;
}

#btnSubmit{
  border: none;
  transition:0.3s ease;
  font-size: 1rem;
}
#btnSubmit:hover{
  background: #f25c54;
  border-radius: 24px;
}

textarea{
  resize: none;
}


/* ---------------------------- */

.addEventLayout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 10;
  visibility: hidden;
  transform: scale(1.1);
}

.show-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modal-content {
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50vw;
  border-radius: 0.5rem;
}



#closeLayout {
  justify-content: center;
  width: 5vw;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 0vh 42vw;
}


#closeLayout:hover {
  background-color: darkgray;
}

