nav {
    grid-area: nav;
    border-bottom: 1px white solid;
}

.nav-box {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    font-size: 1.1rem;

}

.navLinkStyle {
    margin: 0vh 3vw;
    color: white;
    list-style: none;
}

a {
    text-decoration: none;
}
.logo{
    float: left;
    display: flex;
    margin-left: 1vw;
    color: white;
    height: 10vh;
    align-items: center;  
    margin: 0vh 3vw;
    font-family: 'Caesar Dressing', cursive;
    font-size: 2rem;
}

footer {
    grid-area: fot;

}

.footerStyle {
    background-color: #7B2CBF;
    color: white;
    display: flex;
    position: sticky;
    top: 100%;
    justify-content: space-between;
}