* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Genos', sans-serif;
}


body {
  background: black;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-areas:
    "nav nav nav nav "
    "clipTitle clipTitle clipTitle clipTitle"
    ". clip clip ."
    ". calendar calendar ."
    "fot fot fot fot";
}


.iconStyle {
  display: flex;
  align-items: center;
}

.videoTitle {
  grid-area: clipTitle;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  text-shadow: -2px -2px 1px #47126B, 2px 2px 1px #47126B, -2px 2px 1px #47126B, 2px -2px 1px #47126B;
}

#videoStyle {
  grid-area: clip;
  height: 40vh;
  border-radius: 24px;
  background-image: url("../resources/img/fondoVideo.jpg");
  width: 50vw;
  border: 2px solid grey;
  background-repeat:  repeat-x;
}

/*------------------------------------------------ */

.calendar {
  grid-area: calendar;
  box-shadow: 0px 0px 10px #7B2CBF ;
  background-image: radial-gradient(#7B2CBF , black);
  width: 25vw;
  justify-self: center;
  align-self: center;
  background-repeat:  repeat-x;
  padding: 20px;
}

.calendarInfo {
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 2vw;
  text-transform: uppercase;
}

.calendarArrowPrev,
.calendarArrowNext {
  color: white;
  cursor: pointer;
  font-size: 2vw;
}

.calendarArrowPrev {
  margin-right: auto;
}

.calendarArrowNext {
  margin-left: auto;
}

.calendarWeek,
.calendarDates {
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1.5vw;
}

.calendarItem {
  text-align: center;
  line-height: 3.5vh;
  list-style-type: none;
}

a{
  color: white;
}

.calendarDate:hover {
  background: #7B2CBF;
  color: white;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.541);
  border-radius: 100%;
  transition: all 300ms ease;
  width: 25px;
}



.calendarToday {
  background: #7B2CBF;
  color: white;
  margin: auto;
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.541);
}

.calendarLastDays {
  opacity: 50%;
}

