* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
}


body {
    background: black;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav "
        "clip . .  ."
        ". card1 card2 . "
        ". calend descCalendar ."
        "fot fot fot fot";
}

nav {
    grid-area: nav;
    border-bottom: 1px white solid;
}

.nav-box {

    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    font-size: 1.1rem;

}

.navLinkStyle {
    margin: 0vh 3vw;
    color: white;
    text-decoration: none;
}

.fotLinkStyle {
    margin: 2vh 3vw;
    color: white;
    list-style: none;
}


.logo {
    float: left;
    display: flex;
    margin-left: 1vw;
    color: white;
    height: 10vh;
    align-items: center;
    margin: 0vh 3vw;
    font-family: 'Caesar Dressing', cursive;
    font-size: 2rem;
}