:root {
    --primary: #7b2cbf;
    --primaryVariant: #3D1660;
    --secondary: #2cb2bf;
    --secondaryVariant: #279CA7;
    --error: #B00020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
}


body {
    background: black;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav "
        "clip clip form form"
        "fot fot fot fot";
}



.loginImg {
    grid-area: clip;
    border-radius: 24px;
    align-self: center;
    width: 50vw;
    justify-self: center;
    margin: 40px;
}

.formulario {
    background: #fff;
    padding: 4vh;
    grid-area: form;
    width: 30vw;
    border-radius: 8px;
    align-self: center;
    justify-self: center;
}

h1 {
    text-align: center;
    color: var(--secondary);
    font-size: 40px;
    margin-bottom: 1vh;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 8px;

}

.icon {
    min-width: 50px;
    text-align: center;
    color: black;
}

.button {
    width: 100%;    
    color: var(--secondary);
    font-size: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1vh;
    border: 2px var(--secondary) solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.button:hover {
    border: 2px white solid;
    background-color: var(--secondary);
    color: white;
}

.center {
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
}

.link:hover {
    color: black;
}

a{
    text-decoration: none;
    color: white;
}
